body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
h1 {
    color:purple;
}
#output {
    /*margin-top: -1vh;*/
    background-color: #c276c2;
    height: 4vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    padding: 1vh;
}
#output p {

    margin-left: 5%;
}
#output img {
    margin-right: 1vw ;
    height:4vh;
    width:3vw
}
#container {
    cursor: pointer;
    margin: 4vh;
    background-color: rgba(128, 0, 128, 0.2);
    padding: 1vh;
    width: 30vw;
    border-radius: 15px;
}
#one{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    font-weight: bold;
    width: 30vw;
}
#two input{
    width: 30vw;
    accent-color: purple;
}
#seven{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
#seven div{
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    border: black solid 1px;
    background-color: ghostwhite;
}
button{
    border-radius: 2px;
}
